h3{
  padding-left: 1rem;
}
.project-list{
  //background-color: #e3e7ff;
}
.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}

.mat-mdc-table .mat-mdc-header-cell.dark-theme{
  background-color: #000e00;
}

.table-container{
  width: 95vw;
  height: calc(100vh - 56px - 150px);
  margin-bottom: 1rem;
  overflow: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

h3.dark-theme{
  color: #3d55c0;
}

.mat-mdc-row.mdc-data-table__row.cdk-row:hover{
  background-color: #eaedff;
}

