<div class="editor-container">
  <div class="toolbar">
    <button mat-mini-fab class="btn_bold" (click)="toggleStyle('bold')" [class.active]="currentStyles['bold']"><b>B</b>
    </button>
    <button mat-mini-fab (click)="toggleStyle('normal')"
            [class.active]="!currentStyles['bold'] && !currentStyles['italic'] && !currentStyles['underline']">N
    </button>
    <button mat-mini-fab class="btn_italic" (click)="toggleStyle('italic')" [class.active]="currentStyles['italic']"><i>I</i>
    </button>
    <button mat-mini-fab class="btn_red" (click)="toggleStyle('color', 'red')"
            [class.active]="currentStyles['color-red']">R
    </button>
    <button mat-mini-fab class="btn_green" (click)="toggleStyle('color', 'green')"
            [class.active]="currentStyles['color-green']">G
    </button>
    <button mat-mini-fab class="btn_black" (click)="toggleStyle('color', 'black')"
            [class.active]="currentStyles['color-black']">Bl
    </button>
    <button (click)="toggleStyle('insertUnorderedList')">• List</button>
    <button (click)="insertImageFromUrl()">Image</button>
    <button mat-mini-fab (click)="insertImage()">🖼️</button>
    <button mat-mini-fab (click)="triggerFileInput()">📂</button>
    <button (click)="toggleStyle('pre')">Code</button>
    <button mat-mini-fab class="btn_highlight" (click)="toggleCustomClass('highlight', 'active-highlight')"
            [class.active-highlight]="currentClasses['highlight']">AС
    </button>
    <button mat-mini-fab class="btn_underline" (click)="toggleCustomClass('underline', 'active-underline')"
            [class.active-underline]="currentClasses['underline']">U
    </button>

  </div>
  <div class="editor-container" #editorContainer>
    <div *ngFor="let preCondition of preConditions; let i = index" class="editor-item">
      <div class="editor" #actionEditor
           contenteditable="true"
           (focus)="setActiveEditor($event)"
           (blur)="updateEditorContent(actionEditor, i, 'action')"
           (drop)="handleDrop($event)"
           (dragover)="handleDragOver($event)"
      >
      </div>
      <input type="file" #fileInput accept="image/*" style="display: none;" (change)="onFileSelected($event)">
      <div class="editor" #expectedResultEditor
           contenteditable="true"
           (focus)="setActiveEditor($event)"
           (blur)="updateEditorContent(expectedResultEditor, i, 'expectedResult')">
      </div>
      <input type="file" #fileInput accept="image/*" style="display: none;" (change)="onFileSelected($event)">
    </div>
  </div>
</div>

<button (click)="show()">555555555</button>

