<mat-toolbar-row fxLayout="row" class="header" fxLayoutAlign="space-between center">
  <!-- Кнопки для больших экранов -->
  <div  fxHide.lt-md  fxLayoutAlign="start center" class="header-btn-container">
    <div *ngIf="showProjectButtons" fxLayoutAlign="start center">
      <button mat-icon-button (click)="goToProjectList()">
         <mat-icon>home</mat-icon>
      </button>
      <button mat-flat-button (click)="goToTestCases()"
              [class.active-button]="activeButton != 'testCases'">
        Тест кейсы
      </button>
      <button mat-flat-button (click)="goToTestPlans()"
              [class.active-button]="activeButton != 'testPlans'">
        Тест планы
      </button>
      <button mat-flat-button (click)="goToTestRuns()"
              [class.active-button]="activeButton != 'testRuns'">
        Запуски автотестов
      </button>
    </div>
  </div>

  <!-- Бургер-меню для маленьких экранов -->
  <div  fxShow.lt-md fxHide.gt-sm>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- Выпадающее меню -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToProjectList()">Проекты</button>
    <button mat-menu-item (click)="goToTestCases()">Тест кейсы</button>
    <button mat-menu-item (click)="goToTestPlans()">Тест планы</button>
    <button mat-menu-item (click)="goToTestRuns()">Запуски автотестов</button>
  </mat-menu>

  <div fxLayout="row" fxLayoutAlign="end center">
    <div  class="user-name">{{ userName }}</div>
<!--    <div >-->
<!--      <button mat-icon-button (click)="toggleIcon()">-->
<!--        <mat-icon>{{ matIcon }}</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

    <div>
      <button mat-icon-button [matMenuTriggerFor]="theme"><mat-icon>format_color_fill</mat-icon></button>
      <mat-menu #theme="matMenu">
        <div *ngFor="let tm of themes">
          <button mat-menu-item (click)="setTheme(tm)">{{getDisplayThemeName(tm)}}</button>
        </div>
      </mat-menu>
    </div>

    <div >
      <button mat-icon-button (click)="openSupportDialog()">
        <mat-icon>contact_support</mat-icon>
      </button>
    </div>
    <div >
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar-row>

