<div fxLayout="row" class="header">
  <div fxFlex="5" fxLayoutAlign="end center">
    <button mat-icon-button>
      <mat-icon (click)="goHome()">home</mat-icon>
    </button>
  </div>
  <div fxFlex="90">
    <div *ngIf="showProjectButtons">
      <button mat-flat-button (click)="goToTestCases()"
              [class.active-button]="activeButton != 'testCases'"
      >Тест кейсы
      </button>
      <button mat-flat-button (click)="goToTestPlans()"
              [class.active-button]="activeButton != 'testPlans'"
      >Тест планы
      </button>
    </div>
  </div>
  <div fxFlex="5">
    <button mat-icon-button (click)="toggleIcon()">
      <mat-icon>{{ matIcon }}</mat-icon>
    </button>
  </div>
</div>

