.header{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mat-mdc-unelevated-button{
  border-radius: 5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mdc-button.mdc-button--unelevated.mat-mdc-unelevated-button.active-button.mat-unthemed.mat-mdc-button-base {
  background-color: #89a0b9; /* Синий цвет фона для активной кнопки */
  color: white;
  /* Добавьте другие стили для активной кнопки, если необходимо */
}

.user-name{
  text-align: center;
  justify-items: center;
  display: flex;
  align-items: center;
  overflow: hidden; /* Скрытие текста, который не помещается */
  white-space: nowrap; /* Текст в одну строку */
  text-overflow: ellipsis;
}

.header-btn-container{
  text-align: center;
}
