<mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
<div class="dialog-container">
  <div mat-dialog-content class="dialog-content">

    <div class="header">
      <div fxLayout="row" fxLayoutAlign="center-center">
        <div *ngIf="!new" fxFlex="6">
          <span fxFlex="6">{{ this.testCaseId }}</span>
        </div>
        <div *ngIf="new" fxFlex="6">
          <span fxFlex="6"></span>
        </div>
        <mat-form-field fxFlex="91">
          <input matInput type="text"
                 [(ngModel)]="name"
                 class="test-case-name"
                 placeholder="введите название тест кейса"
                 id="testCaseName"
                 required
                 minlength="3"
                 #testCaseNameInput="ngModel"
                 (ngModelChange)="onChange()">
          <!-- Сообщения об ошибках -->
          <mat-error *ngIf="testCaseNameInput.errors?.['required'] && testCaseNameInput.touched">
            Название тест кейса обязательно для заполнения.
          </mat-error>
          <mat-error *ngIf="testCaseNameInput.errors?.['minlength'] && testCaseNameInput.touched">
            Название тест кейса должно быть не менее 3 символов.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-sidenav-container class="sidenav-container" fxFlex>
        <mat-sidenav #sidenav mode="side" opened>
          <form>
            <mat-form-field>
              <mat-label>Вид тестирования</mat-label>
              <mat-select [(ngModel)]="data.testCaseType" name="type" (ngModelChange)="onChange()">
                @for (type of typesOfTests; track type) {
                  <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Приоритет</mat-label>
              <mat-select [(ngModel)]="data.priority" name="priority" (ngModelChange)="onChange()">
                @for (priority of typesOfPriority; track priority) {
                  <mat-option [value]="priority.value">{{ priority.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Признак автоматизации</mat-label>
              <mat-select [(ngModel)]="data.automationFlag" name="automationFlag" (ngModelChange)="onChange()">
                @for (auto of automationFlags; track auto) {
                  <mat-option [value]="auto.value">{{ auto.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Время выполнения</mat-label>
              <input matInput mask="Hh:m0:s0" placeholder="00:00:00" [(ngModel)]="data.executionTime" name="time"
                     (ngModelChange)="onChange()">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Готовность</mat-label>
              <mat-select [(ngModel)]="data.status" name="status" (ngModelChange)="onChange()">
                @for (status of statuses; track status) {
                  <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="versions.length>0" class="version">
              <mat-label>История изменений</mat-label>
              <mat-select [(ngModel)]="selectedVersion" name="version" (ngModelChange)="onChange()">
                @for (version of versions; track version) {
                  <mat-option [value]="version?.value"
                              (click)="choseTestCaseVersion(version?.value)">{{ version?.viewValue }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </form>
        </mat-sidenav>

        <mat-sidenav-content>
          <div fxLayout="row" class="toolbar-plus-btn">
            <div fxFlex="15">
              <button mat-icon-button (click)="toggleSidenav()" class="center-icon-button">
                <mat-icon>{{ sidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon>
              </button>
            </div>
            <div class="toolbar" fxFlex="85">
              <button mat-mini-fab class="btn_bold" (click)="toggleStyle('bold')"
                      [class.active]="currentStyles['bold']">
                <mat-icon>format_bold</mat-icon>
              </button>
              <button mat-mini-fab class="btn_underline" (click)="toggleCustomClass('underline', 'active-underline')"
                      [class.active-underline]="currentClasses['underline']">
                <mat-icon> format_underlined</mat-icon>
              </button>
              <button mat-mini-fab class="btn_italic" (click)="toggleStyle('italic')"
                      [class.active]="currentStyles['italic']">
                <mat-icon> format_italic</mat-icon>
              </button>
              <button mat-mini-fab class="btn_red" (click)="toggleStyle('color', 'red')"
                      [class.active]="currentStyles['color-red']">
                <mat-icon>format_color_text</mat-icon>
              </button>
              <button mat-mini-fab class="btn_green" (click)="toggleStyle('color', 'green')"
                      [class.active]="currentStyles['color-green']">
                <mat-icon>format_color_text</mat-icon>
              </button>
              <button mat-mini-fab class="btn_black" (click)="toggleStyle('color', 'black')"
                      [class.active]="currentStyles['color-black']">
                <mat-icon>format_color_text</mat-icon>
              </button>
              <button mat-mini-fab class="btn_li" (click)="toggleStyle('insertUnorderedList')"
                      [class.active]="currentStyles['li']">
                <mat-icon> format_list_bulleted</mat-icon>
              </button>
              <button mat-mini-fab (click)="insertImage()">
                <mat-icon>image_search</mat-icon>
              </button>
              <button mat-mini-fab (click)="triggerFileInput()">
                <mat-icon>add_photo_alternate</mat-icon>
              </button>
              <button mat-mini-fab class="btn_highlight" (click)="toggleCustomClass('highlight', 'active-highlight')"
                      [class.active-highlight]="currentClasses['highlight']">
                <mat-icon> format_color_fill</mat-icon>
              </button>


            </div>
          </div>

          <div class="step-container" fxLayout="column">
            <mat-accordion multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Предусловия</mat-panel-title>
                  <mat-panel-description>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="steps">
                  <div>
                    <mat-checkbox [(ngModel)]="allSelectedPreConditions" [indeterminate]="indeterminatePreCondition"
                                  (change)="selectAllPreconditions($event.checked)">
                      выбрать все
                    </mat-checkbox>
                  </div>
                  <div #editorPreConditionContainer>
                    <div *ngFor="let preCondition of preConditions; let i = index"
                         class="editor-item"
                         fxLayout="row">
                      <mat-checkbox [(ngModel)]="preCondition.selected" (change)="updateAllSelectedPreconditions()"
                                    fxFlex="6">
                      </mat-checkbox>
                      <span fxFlex="5">{{ preCondition.index }}</span>
                      <div fxFlex="89" class="steps-container">
                        <div class="editor action" #actionEditor
                             [ngClass]="{
       'action-top-radius': i === 0,
       'action-bottom-radius': i === preConditions.length - 1,
       'action-test-case-editors': i > 0 && i < preConditions.length - 1
     }"
                             contenteditable="true"
                             fxFlex="50"
                             (focus)="setActiveEditor($event)"
                             (input)="autoResize($event, expectedResultEditor); onChange()"
                             (paste)="autoResize($event, expectedResultEditor); onChange()"
                             (blur)="updateEditorPreConditionContent(actionEditor, i, 'action')"
                             (change)="onChange()"
                        >
                        </div>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                               (change)="onFileSelected($event)">
                        <div class="editor expected" #expectedResultEditor
                             [ngClass]="{
       'expected-result-top-radius': i === 0,
       'expected-result-bottom-radius': i === preConditions.length - 1,
       'expected-result-test-case-editors': i > 0 && i < preConditions.length - 1
     }"
                             contenteditable="true"
                             fxFlex="50"
                             (focus)="setActiveEditor($event)"
                             (input)="autoResize($event, actionEditor); onChange()"
                             (paste)="autoResize($event, actionEditor); onChange()"
                             (blur)="updateEditorPreConditionContent(expectedResultEditor, i, 'expectedResult')"
                             (change)="onChange()"
                        >
                        </div>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                               (change)="onFileSelected($event)">
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="button-container">
                      <button mat-icon-button (click)="addPreCondition(); onChange()" class="center-icon-button">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteSelectedPreconditions();
                       onChange()"
                              [disabled]="!deletePreconditionsDisabled"
                              class="center-icon-button">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Шаги</mat-panel-title>
                  <mat-panel-description>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="steps">
                  <div>
                    <mat-checkbox [(ngModel)]="allSelectedSteps" [indeterminate]="indeterminateSteps"
                                  (change)="selectAllSteps($event.checked)">
                      выбрать все
                    </mat-checkbox>
                  </div>
                  <div #editorStepContainer>
                    <div *ngFor="let step of steps; let i = index" class="editor-item" fxLayout="row">
                      <mat-checkbox [(ngModel)]="step.selected" (change)="updateAllSelectedSteps()" fxFlex="6">
                      </mat-checkbox>
                      <span fxFlex="5">{{ step.index }}</span>
                      <div class="steps-container" fxFlex="89" [ngClass]="{'border-top': i === 0}">
                        <div class="editor action" #actionEditor
                             [ngClass]="{
       'action-top-radius': i === 0,
       'action-bottom-radius': i === steps.length - 1,
       'action-test-case-editors': i > 0 && i < steps.length - 1
     }"
                             contenteditable="true"
                             fxFlex="50"
                             (focus)="setActiveEditor($event)"
                             (input)="autoResize($event, expectedResultEditor); onChange()"
                             (paste)="autoResize($event, expectedResultEditor); onChange()"
                             (blur)="updateEditorStepContent(actionEditor, i, 'action')"
                             (change)="onChange()"
                        >
                        </div>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                               (change)="onFileSelected($event)">
                        <div class="editor expectedr" #expectedResultEditor
                             [ngClass]="{
       'expected-result-top-radius': i === 0,
       'expected-result-bottom-radius': i === steps.length - 1,
       'expected-result-test-case-editors': i > 0 && i < steps.length - 1
     }"
                             contenteditable="true"
                             fxFlex="50"
                             (focus)="setActiveEditor($event)"
                             (input)="autoResize($event, actionEditor); onChange()"
                             (paste)="autoResize($event, actionEditor); onChange()"
                             (blur)="updateEditorStepContent(expectedResultEditor, i, 'expectedResult')"
                        >
                        </div>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                               (change)="onFileSelected($event)">
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="button-container">
                      <button mat-icon-button (click)="addStep(); onChange()" class="center-icon-button">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteSelectedSteps();
                       onChange()"
                              [disabled]="!deleteStepsDisabled"
                              class="center-icon-button">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Постусловия</mat-panel-title>
                  <mat-panel-description>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="steps">
                  <div>
                    <mat-checkbox [(ngModel)]="allSelectedPostConditions" [indeterminate]="indeterminatePostCondition"
                                  (change)="selectAllPostConditions($event.checked)">
                      выбрать все
                    </mat-checkbox>
                  </div>
                  <div #editorPostConditionContainer>
                    <div *ngFor="let postCondition of postConditions; let i = index" class="editor-item" fxLayout="row">
                      <mat-checkbox [(ngModel)]="postCondition.selected" (change)="updateAllSelectedPostConditions()"
                                    fxFlex="6">
                      </mat-checkbox>
                      <span fxFlex="5">{{ postCondition.index }}</span>
                      <div class="steps-container" fxFlex="89" [ngClass]="{'border-top': i === 0}">
                        <div class="editor action" #actionEditor
                             [ngClass]="{
       'action-top-radius': i === 0,
       'action-bottom-radius': i === postConditions.length - 1,
       'action-test-case-editors': i > 0 && i < postConditions.length - 1
     }"
                             contenteditable="true"
                             fxFlex="50"
                             (focus)="setActiveEditor($event)"
                             (input)="autoResize($event, expectedResultEditor); onChange()"
                             (paste)="autoResize($event, expectedResultEditor); onChange()"
                             (blur)="updateEditorPostConditionContent(actionEditor, i, 'action')"
                             (change)="onChange()"
                        >
                        </div>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                               (change)="onFileSelected($event)">
                        <div class="editor expected" #expectedResultEditor
                             [ngClass]="{
       'expected-result-top-radius': i === 0,
       'expected-result-bottom-radius': i === postConditions.length - 1,
       'expected-result-test-case-editors': i > 0 && i < postConditions.length - 1
     }"
                             contenteditable="true"
                             fxFlex="50"
                             (focus)="setActiveEditor($event)"
                             (input)="autoResize($event, actionEditor); onChange()"
                             (paste)="autoResize($event, actionEditor); onChange()"
                             (blur)="updateEditorPostConditionContent(expectedResultEditor, i, 'expectedResult')"
                             (change)="onChange()"
                        >
                        </div>
                        <input type="file" #fileInput accept="image/*" style="display: none;"
                               (change)="onFileSelected($event)">

                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="button-container">
                      <button mat-icon-button (click)="addPostCondition(); onChange()" class="center-icon-button">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteSelectedPostConditions();
                       onChange()"
                              [disabled]="!deletePostConditionsDisabled"
                              class="center-icon-button">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button
          (click)="save()"
          class="save-btn"
          style="padding: 1rem"
          [disabled]="!hasChange
           || testCaseNameInput.invalid"
  >Сохранить
  </button>
  <button mat-button
          (click)="closeMatDialog()"
          class="close-btn"
          style="margin: 0 1rem 0 1rem; padding: 1rem">
    Отмена
  </button>
</div>


