:host {
  --mdc-dialog-container-shape: 0px;
}

.dialog-container{
  width: 100vw;
  height: 100vh;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-actions,mdc-dialog__actions{
  margin: 0;
  padding: 0;
}

.cdk-overlay-pane{
  min-width: 100%;
  min-height: 100%;
}

.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 5px;
}







//EDITOR=========================

.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
}
.toolbar {
  margin-bottom: 10px;
}
.toolbar button {
  margin-right: 5px;
}
.editor {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 10px;
}
