/*.sidenav-container {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 250px;
}

span{
  text-align: center;
  padding: 10px;
}

input{
  height: 40px;
}

.steps{
  margin: 1rem;
}
.header{
  margin: 1rem;
}

mat-checkbox{
  text-align: center;
}



/*.border-top{*/
/*  border-top: #b9d6ea 1px solid;*/
/*}*/

/*.top-radius {*/
/*  border-top-left-radius: 8px;*/
/*  border-top-right-radius: 8px;*/
/*  border: 1px solid #b20067;*/
/*  !*border: 1px solid #b2c5ff;*!*/

/*}*/

/*.bottom-radius {*/
/*  border-bottom-left-radius: 8px;*/
/*  border-bottom-right-radius: 8px;*/
/*  border-bottom: 1px solid #b20067;*/
/*  border-left: 1px solid #b20067;*/
/*  border-right: 1px solid #b20067;*/
/*}*/

/*.test-case-editors {*/
/*  border-bottom: 1px solid #b20067;*/
/*  border-left: 1px solid #b20067;*/
/*  border-right: 1px solid #b20067;*/
/*}*/


/*.editor.action{*/
/*  border-right: 1px solid #b20067;*/
/*}*/

/* Фиксируем header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


/* Контейнер для всего содержимого, чтобы учитывать фиксированный header */
.sidenav-container {
  position: fixed;
  top: 60px; /* Высота header */
  bottom: 75px;
  left: 0;
  width: 100%;
  overflow: hidden; /* Отключаем прокрутку для всего контейнера */
}

/* Контейнер для прокручиваемого контента */
.step-container {
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  /*padding-top: 1rem; !* Если нужно отступить контент от верха *!*/
  padding-bottom: 140px;
}

/* Задаем фиксированное положение боковой панели */
mat-sidenav {
  position: fixed;
  top: 60px; /* Высота header */
  bottom: 0;
  height: calc(100% - 135px ); /* Учитываем высоту header */
}

/* Обрабатываем материнский контейнер для контента, чтобы учитывать фиксированный header */
mat-sidenav-content {
  position: relative;
  margin-top: 60px; /* Высота header */
  height: calc(100% - 135px);
  overflow: hidden; /* Отключаем прокрутку для всего контента, кроме step-container */
}

.mat-drawer-content.mat-sidenav-content{
  margin-top: 1rem;
}

mat-sidenav{
  margin-top: 1rem;
}
