@use '@angular/material' as mat;
@use './m3-theme-green' as grn;
@use './m3-theme-bliue-light' as blu;
@use './m3-theme-crab' as crb;
@use './m3-theme-dark' as drk;
@use './m3-theme-blue-dark' as b-drk;

@include mat.core();


.green-theme {
  span.mdc-button__label {
    color: mat.get-theme-color(grn.$light-theme, 'primary', 98);
  }
}

.blue-theme {
  span.mdc-button__label {
    color: mat.get-theme-color(blu.$light-theme, 'primary', 98);
  }
}

.crab-theme {
  span.mdc-button__label {
    color: mat.get-theme-color(crb.$light-theme, 'primary', 98);
  }
}

.dark-theme {
  span.mdc-button__label {
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 80);
  }
}

.blue-dark-theme {
  span.mdc-button__label {
    color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 80);
  }
}




