@use '@angular/material' as mat;
@use './m3-theme-green' as grn;
@use './m3-theme-bliue-light' as blu;
@use './m3-theme-dark' as drk;

@include mat.core();

.green-theme{
  .mat-mdc-dialog-actions.mdc-dialog__actions{
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 80);
  }
}


.blue-theme{
  .mat-mdc-dialog-actions.mdc-dialog__actions{
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 80);
  }
}

.dark-theme{
  .mat-mdc-dialog-actions.mdc-dialog__actions{
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 20);
  }

}
