@use '@angular/material' as mat;
@use './m3-theme-green' as grn;
@use './m3-theme-bliue-light' as blu;
@use './m3-theme-dark' as drk;

@include mat.core();

.green-theme{
  .left {
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 98); /* Цвет фона первой колонки */
    width: 100vw;
  }

  .right {
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 98); /* Цвет фона второй колонки */
    width: 100%;
    overflow: hidden;
  }

  div.ng-star-inserted.as-split-gutter {
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 95); /* Изменение фона сепаратора */
  }
}

.blue-theme{
  .left {
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 98); /* Цвет фона первой колонки */
    width: 100vw;
  }

  .right {
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 98); /* Цвет фона второй колонки */
    width: 100%;
    overflow: hidden;
  }

  div.ng-star-inserted.as-split-gutter {
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 95); /* Изменение фона сепаратора */
  }
}
.dark-theme{
  .left {
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 0); /* Цвет фона первой колонки */
    width: 100vw;
  }

  .right {
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 0); /* Цвет фона второй колонки */
    width: 100%;
    overflow: hidden;
  }

  div.ng-star-inserted.as-split-gutter {
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 20); /* Изменение фона сепаратора */
  }
}
