@use '@angular/material' as mat;
@use './m3-theme-green' as grn;
@use './m3-theme-bliue-light' as blu;
@use './m3-theme-crab' as crb;
@use './m3-theme-dark' as drk;
@use './m3-theme-blue-dark' as b-drk;

@include mat.core();

.green-theme{
  .test-case-chain{
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 70);
  }
  .test-case-sub-container:before{
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 70);
  }

  .test-case-name{
    border: 1px solid mat.get-theme-color(grn.$light-theme, 'primary', 35); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 70);
    color: mat.get-theme-color(grn.$light-theme, 'primary', 0);
  }

  .test-case-name:hover{
    border: 1px solid mat.get-theme-color(grn.$light-theme, 'primary', 60);
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 80);
  }

  .folder-name-item{
    border: 1px solid mat.get-theme-color(grn.$light-theme, 'primary', 40); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 50);
    color: mat.get-theme-color(grn.$light-theme, 'primary', 95);
  }

  .folder-name-item:hover{
    border: 1px solid mat.get-theme-color(grn.$light-theme, 'primary', 30); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(grn.$light-theme, 'primary', 60);
  }

  .empty-folder {
    border: 1px solid mat.get-theme-color(grn.$light-theme, 'neutral-variant', 80); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(grn.$light-theme, 'neutral-variant', 70);
    color: mat.get-theme-color(grn.$light-theme, 'neutral-variant', 95);
  }

  mat-icon{
    color: mat.get-theme-color(grn.$light-theme, 'primary', 30);
  }

  .cdk-drag-folder.subfolder {
    border-left:  2px solid mat.get-theme-color(grn.$light-theme, 'primary', 70);
  }
  .cdk-drag.subfolder{
    border-left:  2px solid mat.get-theme-color(grn.$light-theme, 'primary', 70);
  }
}

///////////////////////////////////////////////////////////////////////////////////////////

.blue-theme{
  .test-case-chain{
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 70);
  }
  .test-case-sub-container:before{
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 70);
  }

  .test-case-name{
    border: 1px solid mat.get-theme-color(blu.$light-theme, 'primary', 60); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 70);
    color: mat.get-theme-color(blu.$light-theme, 'primary', 0);
  }

  .test-case-name:hover{
    border: 1px solid mat.get-theme-color(blu.$light-theme, 'primary', 60);
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 80);
  }

  .folder-name-item{
    border: 1px solid mat.get-theme-color(blu.$light-theme, 'primary', 40); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 50);
    color: mat.get-theme-color(blu.$light-theme, 'primary', 95);
  }

  .folder-name-item:hover{
    border: 1px solid mat.get-theme-color(blu.$light-theme, 'primary', 30); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(blu.$light-theme, 'primary', 60);
  }

  .empty-folder {
    border: 1px solid mat.get-theme-color(blu.$light-theme, 'neutral-variant', 60); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(blu.$light-theme, 'neutral-variant', 70);
    color: mat.get-theme-color(blu.$light-theme, 'neutral-variant', 95);
  }

  mat-icon{
    color: mat.get-theme-color(blu.$light-theme, 'primary', 30);
  }

  .cdk-drag-folder.subfolder {
    border-left:  2px solid mat.get-theme-color(blu.$light-theme, 'primary', 70);
  }
  .cdk-drag.subfolder{
    border-left:  2px solid mat.get-theme-color(blu.$light-theme, 'primary', 70);
  }
}

.crab-theme{
  .test-case-chain{
    background-color: mat.get-theme-color(crb.$light-theme, 'primary', 70);
  }
  .test-case-sub-container:before{
    background-color: mat.get-theme-color(crb.$light-theme, 'primary', 70);
  }

  .test-case-name{
    border: 1px solid mat.get-theme-color(crb.$light-theme, 'primary', 35); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(crb.$light-theme, 'primary', 70);
    color: mat.get-theme-color(blu.$light-theme, 'primary', 0);
  }

  .test-case-name:hover{
    border: 1px solid mat.get-theme-color(crb.$light-theme, 'primary', 60);
    background-color: mat.get-theme-color(crb.$light-theme, 'primary', 80);
  }

  .folder-name-item{
    border: 1px solid mat.get-theme-color(crb.$light-theme, 'primary', 40); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(crb.$light-theme, 'primary', 50);
    color: mat.get-theme-color(blu.$light-theme, 'primary', 95);
  }

  .folder-name-item:hover{
    border: 1px solid mat.get-theme-color(crb.$light-theme, 'primary', 30); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(crb.$light-theme, 'primary', 60);
  }

  .empty-folder {
    border: 1px solid mat.get-theme-color(crb.$light-theme, 'neutral-variant', 80); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(crb.$light-theme, 'neutral-variant', 70);
    color: mat.get-theme-color(crb.$light-theme, 'neutral-variant', 95);
  }

  mat-icon{
    color: mat.get-theme-color(crb.$light-theme, 'primary', 30);
  }

  .cdk-drag-folder.subfolder {
    border-left:  2px solid mat.get-theme-color(crb.$light-theme, 'primary', 70);
  }
  .cdk-drag.subfolder{
    border-left:  2px solid mat.get-theme-color(crb.$light-theme, 'primary', 70);
  }
}

.dark-theme{
  .test-case-chain{
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 35);
  }

  .test-case-sub-container:before{
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 35);
  }


  .test-case-name{
    border: 1px solid mat.get-theme-color(drk.$dark-theme, 'primary', 40); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 20);
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 70);
  }

  .cdk-drag-folder.subfolder {
    border-left:  2px solid mat.get-theme-color(drk.$dark-theme, 'primary', 35);
  }

  .test-case-name:hover{
    border: 1px solid mat.get-theme-color(drk.$dark-theme, 'primary', 60);
  }

  .folder-name-item{
    border: 1px solid mat.get-theme-color(drk.$dark-theme, 'primary', 50); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(drk.$dark-theme, 'primary', 40);
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 80);
  }

  .folder-name-item:hover{
    border: 1px solid mat.get-theme-color(drk.$dark-theme, 'primary', 30); /* Для наглядности добавим границу */
  }

  .empty-folder {
    border: 1px solid mat.get-theme-color(drk.$dark-theme, 'primary', 30); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(drk.$dark-theme, 'neutral-variant', 25);
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 80);
  }

  mat-icon {
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 50);
  }

  .cdk-drag.subfolder{
    border-left:  2px solid mat.get-theme-color(drk.$dark-theme, 'primary', 35);
  }
}

.blue-dark-theme{
  .test-case-chain{
    background-color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 35);
  }

  .test-case-sub-container:before{
    background-color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 35);
  }


  .test-case-name{
    border: 1px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 40); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 20);
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 70);
  }

  .cdk-drag-folder.subfolder {
    border-left:  2px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 35);
  }

  .test-case-name:hover{
    border: 1px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 60);
  }

  .folder-name-item{
    border: 1px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 50); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 40);
    color: mat.get-theme-color(drk.$dark-theme, 'primary', 80);
  }

  .folder-name-item:hover{
    border: 1px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 30); /* Для наглядности добавим границу */
  }

  .empty-folder {
    border: 1px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 30); /* Для наглядности добавим границу */
    background-color: mat.get-theme-color(b-drk.$dark-theme, 'neutral-variant', 25);
    color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 80);
  }

  mat-icon {
    color: mat.get-theme-color(b-drk.$dark-theme, 'primary', 50);
  }

  .cdk-drag.subfolder{
    border-left:  2px solid mat.get-theme-color(b-drk.$dark-theme, 'primary', 35);
  }
}
