<mat-progress-bar *ngIf="!dataLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="dataLoading">
  <div cdkDropListGroup>
    <div *ngFor="let folder of TEST_CASE_DATA">
      <ng-container *ngTemplateOutlet="folderTemplate; context: { folder: folder }"></ng-container>
    </div>

    <ng-template #folderTemplate let-folder="folder">
      <div [ngClass]="{'nested-folder': folder.parentFolderId}">
        <div class="folder-header" (click)="getTestCases(folder.id)">
          <button mat-icon-button (click)="toggleFolder(folder, $event)">
            <mat-icon>{{ folder.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
          <mat-icon>folder_open</mat-icon>
          <span class="folder-name">
            <div class="folder-name-item" (click)="showFolder(folder)">{{ folder.name }}</div></span>

        </div>
        <div *ngIf="folder.expanded">
          <div *ngFor="let subFolder of folder.childFolders"
               class="subfolder cdk-drag">
            <ng-container *ngTemplateOutlet="folderTemplate; context: { folder: subFolder }"></ng-container>
          </div>
        </div>
        <div *ngIf="folder.expanded" cdkDropList
             class="test-case-list">
          <div class="test-case-container">
            <div class="test-case-sub-container">
              <div>
                <div  *ngFor="let testCase of testCasesMap[folder.id]" class="test-case-item">
                  <div class="test-case-chain-empty"></div>
                  <div class="test-case-chain"></div>
                  <mat-icon *ngIf="testCasesMap[folder.id].length > 0">subject</mat-icon>
                  <div *ngIf="testCase != null" class="test-case-name">
                    {{ testCase.name }}
                  </div>
                </div>
              </div>
              <div >
                <div  *ngIf="folder.testCases.length == 0" class="test-case-item">
                  <div class="test-case-chain-empty"></div>
                  <div class="test-case-chain"></div>
                  <mat-icon>not_interested</mat-icon>
                  <div class="test-case-name">
                    В корне папки нет тест-кейсов
                  </div>
                </div>
              </div>

              </div>
<!--              <ng-template #emptyFolder>-->
<!--                <div class="test-case-container-empty">-->
<!--                  <div class="test-case-sub-container">-->
<!--                    <div class="test-case-item">-->
<!--                      <div class="test-case-chain-empty-empty"></div>-->
<!--                      <div class="test-case-chain"></div>-->
<!--                      <mat-icon>not_interested</mat-icon>-->
<!--                      <div class="empty-folder">В корне папки нет тест-кейсов</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
            </div>
          </div>
        </div>
    </ng-template>
  </div>
</div>
