
.mat-mdc-dialog-content.mdc-dialog__content.dialog-content{
  padding: 0;
}


:host {
  --mdc-dialog-container-shape: 0px;
}

.dialog-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-actions,mdc-dialog__actions{
  margin: 0;
  padding: 0;
  z-index: 1002;
  //background-color: #dbe1ff;
  width: 100vw;
}

.cdk-overlay-pane{
  min-width: 100%;
  min-height: 100%;
}

.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}


//выравнивание иконок в mat-icon-button
.center-icon-button {
  display: flex;                /* Используем flexbox для кнопки */
  align-items: center;          /* Центрируем по вертикали */
  justify-content: center;      /* Центрируем по горизонтали */
}



.center-icon-button mat-icon {
  display: flex;                /* Используем flexbox для иконки */
  align-items: center;          /* Центрируем по вертикали */
  justify-content: center;      /* Центрируем по горизонтали */
  width: 24px;                  /* Стандартный размер иконки */
  height: 24px;                 /* Стандартный размер иконки */
}

.mat-expansion-panel-body{
  padding: 0;
}

.version{margin-top: 3rem}

.ck.ck-balloon-panel.ck-balloon-panel_toolbar_west.ck-toolbar-container{
  z-index: 1500;
}

.mat-mdc-dialog-content {
  flex: 1 1 auto; /* Основное содержимое занимает все доступное пространство */
  padding: 0;
}

.mat-mdc-dialog-actions {
  margin: 0;
  padding: 0;
  z-index: 1002;
  //background-color: #dbe1ff;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Кнопки разнесены по краям */
}

.mat-mdc-unelevated-button {
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}

#example.example{
  //background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.mat-mdc-dialog-content.mdc-dialog__content.exapmle{
  //background-color: #ffffff;
  height: calc(100vh - 300px);
  width: 100%;
  display: flex;
}

//div.mat-mdc-dialog-surface.mdc-dialog__surface{
//  height: 100vh;
//}

app-create-test-plan-tree{
  height: calc(100vh - 160px);
}

button.close-btn{
  margin-right: 1rem;
}

.table-btn-container{
  //background-color: #b2c5ff;
}

.column-menu-btn{
  margin-left: 1rem;
}
