/* Общий стиль для всех элементов, которые можно перетаскивать */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

[cdkDropList] {
  display: block;
  width: 200px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-height: 25px; /* Добавим минимальную высоту для удобства */
  margin-bottom: 2px; /* Добавим отступ снизу для разделения блоков */
  border-radius: 4px; /* Скруглим углы */
}

/* Стиль для элементов, которые можно перетаскивать */
[cdkDrag] {
  border: 1px solid #ddd;
  background-color: white;
  cursor: move;
  padding: 2px; /* Добавим отступ для лучшего визуального восприятия */
  border-radius: 4px; /* Скруглим углы */
}

/* Стиль для папок */
.folder-header {
  background-color: #b9d6ea; /* Светло-серый фон для папок */
  min-width: 300px;
  padding: 2px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  cursor: pointer; /* Изменим курсор на указатель при наведении */
}
.folder-name{
  min-width: 150px;
}

/* Стиль для подкаталогов (вложенных папок) */
.subfolder {
  margin-left: 50px;
  background-color: #f0f0f0; /* Светло-серый фон для подкаталогов */
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
}

/* Стиль для тест-кейсов */
.test-case-list {
  background-color: #e8f5e9; /* Светло-зеленый фон для тест-кейсов */
  padding: 2px;
  border: 1px solid #c8e6c9; /* Зеленоватый цвет границы для тест-кейсов */
}

/* Стиль для скрытых элементов (дочерние элементы) */
.hidden {
  display: none;
}

/* Стиль для элементов, которые скрыты (если папка не развёрнута) */
.nested-folder {
}

.cdk-drag.subfolder {
  width: 1px;
  transform: translateX(-26px);
  background-color: #a6a1a1;
  padding: 0;
}

.test-case-item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.background-element{
  background-color: #a6a1a1;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 2px;
  transform: translateX(-26px);
  margin-right: 12px;
}

.test-case-item mat-icon {
  margin-right: 8px; /* Отступ справа от иконки */
}

.folder-btn-menu {
  display: none;
}

.folder-header:hover .folder-btn-menu{
  display: inline;
}

