:host {
  --mdc-dialog-container-shape: 0px;
}

.dialog-container{
  width: 100vw;
  height: 100vh;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-actions,mdc-dialog__actions{
  margin: 0;
  padding: 0;
  z-index: 1002;
  background-color: #dbe1ff;
  width: 100vw;
}

.cdk-overlay-pane{
  min-width: 100%;
  min-height: 100%;
}

.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}


