.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}

.mat-mdc-table.mat-mdc-header-cell.dark-theme{
  background-color: #000e00;
}

.table-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

h3.dark-theme{
  color: #3d55c0;
}

/*.mat-mdc-dialog-surface.mdc-dialog__surface{*/
/*  max-height: 10px;*/
/*}*/

:host {
  --mdc-dialog-container-shape: 0px;
}

.dialog-container{
  width: 100vw;
  height: 100vh;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px !important;

}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: auto;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
  height: calc(100vh - 56px);
}

.mat-mdc-dialog-content.mdc-dialog__content{
  height: calc(100vh - 56px - 80px);
  max-height: calc(100vh - 56px - 80px);
}

.column left {
  height: calc(100vh - 56px - 80px);
  max-height: calc(100vh - 56px - 80px);
}
.mat-mdc-dialog-component-host.ng-star-inserted{
  overflow: auto;
}

.test-plan-input{
  margin: 0 1rem 1rem 1rem;
}
input{
  height: 30px;
  border-radius: 4px;
  color: black;
}

app-execute-test-plan-tree{
  height: calc(100vh - 140px);
}

