<div>
  <mat-checkbox [(ngModel)]="allSelected" [indeterminate]="indeterminate" (change)="selectAllSteps($event.checked)">
    Выбрать все
  </mat-checkbox>
</div>

<div *ngFor="let step of steps">
  <mat-checkbox [(ngModel)]="step.selected" (change)="updateAllSelected()"></mat-checkbox>
  <input type="text" [(ngModel)]="step.action" placeholder="Действие">
  <input type="text" [(ngModel)]="step.expectedResult" placeholder="Ожидаемый результат">
</div>

<button mat-flat-button (click)="addStep()">Добавить шаг</button>
<button mat-flat-button (click)="deleteSelectedSteps()">Удалить выбранные шаги</button>
