.sidenav-container {
  height: 100%;
  width: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 250px;
}

textarea {
  overflow: hidden;
  resize: none;
  min-height: 40px; /* Минимальная высота */
}

span{
  text-align: center;
  padding: 10px;
}

input{
  height: 40px;
}

.steps{
  margin: 1rem;
}
.header{
  margin: 1rem;
}

mat-checkbox{
  text-align: center;
}

textarea{
  border-radius: 0;
  border: none;
  border-left: #b9d6ea 1px solid;
  border-bottom: #b9d6ea 1px solid;

}
.steps-container{
  border-right: #b9d6ea 1px solid;
}

.border-top{
  border-top: #b9d6ea 1px solid;
}

