.container {
  display: flex;
}

.column {
  /*flex: 1; !* Колонки будут занимать равное пространство *!*/
  padding: 10px; /* Отступы для красоты */
  display: flex;
  flex-direction: column;
  height: 90vh;

}

.left {
  background-color: #f0f0f0; /* Цвет фона первой колонки */
  width: 100vw;
}

.right {
  background-color: #e0e0e0; /* Цвет фона второй колонки */
  width: 100%;
}


//Table --------------------------------------------------------------------

.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}

.mat-mdc-table .mat-mdc-header-cell.dark-theme{
  background-color: #000e00;
}

.table-container{
  width: 100%;
  height: 80vh;
  margin-bottom: 1rem;
  overflow: auto;
}

h3.dark-theme{
  color: #3d55c0;
}

.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted:hover{
  background-color: #eaedff;
}


