<as-split unit="percent" direction="horizontal" gutterSize="10">
  <as-split-area [size]="40">
    <div class="column left">
      <app-tree (testCasesFromTree)="getTestCasesFromTree($event)"></app-tree>
    </div>
  </as-split-area>

  <!-- Table -->
  <as-split-area [size]="60" maxSize="99.999">
    <div class="column right">
<!--      <h3>Test Cases:</h3>-->
      <div class="table-container">
        <div  fxLayout="column">
          <div fxLayoutAlign="start-center" fxFlex="none" class="table-btn-container">
            <!-- Иконка-кнопка для открытия меню выбора колонок -->
            <button mat-icon-button [matMenuTriggerFor]="columnsMenu" class="column-menu-btn">
              <mat-icon>view_column</mat-icon>
            </button>
            <!-- Меню для выбора колонок -->
            <mat-menu #columnsMenu="matMenu">
              <mat-checkbox *ngFor="let column of allColumns"
                            [(ngModel)]="displayedColumnsSelection[column]"
                            (change)="updateDisplayedColumns()">
                {{ column }}
              </mat-checkbox>
            </mat-menu>

            <!-- Кнопка для запуска всех отмеченных автотестов -->
            <button [disabled]="!hasQaRole()" mat-icon-button (click)="runSelectedAutoTests()">
              <mat-icon>playlist_play</mat-icon>
            </button>


            <!-- Иконка с выпадающим меню -->
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <!-- Выпадающее меню -->
            <mat-menu #menu="matMenu">
              <!-- Пункт "Запустить в общем ране" -->
              <button [disabled]="!hasQaRole()" mat-menu-item (click)="setRunMode(true)">
                <!-- Контейнер для галочки -->
                <mat-icon *ngIf="runTests">check</mat-icon>
                <mat-icon *ngIf="!runTests" style="opacity: 0;">check</mat-icon>
                <span>Запустить в общем ране</span>
              </button>

              <!-- Пункт "Запустить в отдельных ранах" -->
              <button [disabled]="!hasQaRole()" mat-menu-item (click)="setRunMode(false)">
                <!-- Контейнер для галочки -->
                <mat-icon *ngIf="!runTests">check</mat-icon>
                <mat-icon *ngIf="runTests" style="opacity: 0;">check</mat-icon>
                <span>Запустить в отдельных ранах</span>
              </button>
            </mat-menu>

            <button mat-icon-button (click)="exportTestCases()"><mat-icon>import_export</mat-icon></button>
            <!--            <button mat-raised-button color="primary" (click)="showTableData()">-->
            <!--              showTableData-->
            <!--            </button>-->
          </div>

          </div>

          <div fxFlex="1 1 auto" class="table-container-margin-top">
            <div class="table-content">
              <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                     class="table">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="toggleAll($event)" [checked]="isAllSelected()"></mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="(toggleSelection(element))"
                                  (click)="$event.stopPropagation()"
                                  [checked]="selection.isSelected(element)"></mat-checkbox>
                  </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    id
                  </th>
                  <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    name
                  </th>
                  <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
                    type
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.automationFlag }}
                  </td>
                </ng-container>

                <!-- ReportUrl Column -->
                <ng-container matColumnDef="report">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by report">
                    report
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <a *ngIf="element.reportUrl" mat-icon-button href="{{ element.reportUrl }}" target="_blank" (click)="$event.stopPropagation()">
                      <img ngSrc="assets/report_icon.png" alt="allure report icon" height="100" width="100">
                    </a>

                  </td>
                </ng-container>

                <!-- Result Column -->
                <ng-container matColumnDef="result">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by result">
                    result
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div [ngClass]="{
                  'success-result': element.result === 'SUCCESSFULLY',
                  'fail-result': element.result === 'FAILED'
                  }"
                    >{{ element.result }}
                    </div>
                  </td>
                </ng-container>

                <!-- RUN Column -->
                <ng-container matColumnDef="run">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
                    &nbsp;run_at
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <button *ngIf="element.automationFlag === 'AUTO'" mat-icon-button
                            color="primary" (click)="runTestCase(element,$event)" [disabled]="element.isRunning || !hasQaRole()">
                      <mat-icon *ngIf="!element.isRunning">play_arrow</mat-icon>
                      <mat-progress-spinner *ngIf="element.isRunning" mode="indeterminate"
                                            diameter="20"></mat-progress-spinner>
                    </button>
                  </td>
                </ng-container>

                <!-- Header and Rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTestCaseDialog(row.id)"></tr>
              </table>
            </div>

            <div *ngIf="isLoading" class="progress-bar-container">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
  </as-split-area>
</as-split>


