app-tree{
  font-family: 'Roboto', sans-serif; /* Здесь укажите нужный шрифт */
}

.container {
  display: flex;
}

.column {
  /*flex: 1; !* Колонки будут занимать равное пространство *!*/
  //padding: 10px; /* Отступы для красоты */
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  //overflow: hidden;

}

.left {
  background-color: #ffffff; /* Цвет фона первой колонки */
  width: 100vw;
}

.right {
  background-color: #e3e7ff; /* Цвет фона второй колонки */
  width: 100%;
  overflow: hidden;
}


//Table --------------------------------------------------------------------

.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 7px;
  padding: 1rem;
}

.mat-mdc-table .mat-mdc-header-cell.dark-theme{
  background-color: #000e00;
}

.table-container{
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  overflow: auto;
}

h3.dark-theme{
  color: #3d55c0;
}

//.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted:hover{
//  background-color: #eaedff;
//
//}

.success-result {
  display: inline-block;
  background-color: #0b912e;
  border-radius: 5px;
  border: 2px solid #014801;
  width: auto;
  height: auto;
  padding: 3px;
  color: white;
}

.fail-result {
  display: inline-block;
  background-color: #c29292;
  border-radius: 5px;
  border: 1px solid red;
  width: auto;
  height: auto;
  padding: 3px;
}

as-split{
  height: 100vh;
}

.column-menu-btn{
  margin-left: 1rem;
}

.column.right{
  overflow: hidden;
}

div.table-btn-container{
  margin-bottom: 0;
  position: fixed;
  top: 56px;
  z-index: 1000;
}

as-split-area{
  height: 100%;
}

/* Контейнер с таблицей */
.table-container {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 56px); /* Высота без учёта хедера */
  margin-top: 40px; /* Отступ от фиксированного контейнера с кнопками */
}

/* Прокручиваемая область внутри таблицы */
.table-content {
  overflow-y: auto;
  max-height: calc(100vh - 156px); /* Учитываем высоту хедера и контейнера с кнопками */
}

table.table{
  height: 100%;
border-collapse: collapse;
}

div.table-size-limit-container{
  max-height: 1000px;
}

table.table thead {
  position: sticky;
  top: 0; /* Заголовок таблицы фиксирован в верхней части таблицы */
  background-color: white;
  z-index: 500;
}




