// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'styles/m3-theme-green' as lgt;
@use 'styles/m3-theme-dark' as drk;

@import "styles/header.scss";
@import "styles/project-list.scss";
@import "styles/test-case-tree.scss";
@import "styles/list-test-case.scss";
@import "styles/create-test-case.scss";
@import "styles/editor.scss";
@import "styles/mat-icon.scss";

@include mat.core();


:root .light-theme{


}


html, body {
  height: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif; /* Здесь укажите нужный шрифт */
  @include mat.all-component-themes(lgt.$light-theme);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Здесь укажите нужный шрифт */
}

mat-card{
  @include mat.all-component-colors(lgt.$light-theme);
  @include mat.system-level-colors(lgt.$light-theme);
}

mat-table{
  @include mat.all-component-colors(lgt.$light-theme);
  @include mat.system-level-colors(lgt.$light-theme);
}

.light-theme {
  @include mat.all-component-bases(lgt.$light-theme);
  @include mat.system-level-colors(lgt.$light-theme);
  @include mat.all-component-themes(lgt.$light-theme);
  @include mat.all-component-typographies(lgt.$light-theme);
  @include mat.all-component-colors(lgt.$light-theme)
}

.dark-theme {
  @include mat.system-level-colors(drk.$dark-theme);
  @include mat.all-component-bases(drk.$dark-theme);
  @include mat.all-component-themes(drk.$dark-theme);
  @include mat.all-component-typographies(drk.$dark-theme);
  @include mat.system-level-typography(drk.$dark-theme);
  background-color: #000000;
  color: #3a4c9c;
}


//      Скролбар   =========================================================

/* Для Webkit-браузеров */
::-webkit-scrollbar {
  width: 8px; /* ширина вертикального скроллбара */
  height: 8px; /* высота горизонтального скроллбара */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* цвет дорожки скроллбара */
}

::-webkit-scrollbar-thumb {
  background: #888; /* цвет ползунка */
  border-radius: 6px; /* скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* цвет ползунка при наведении */
}


.highlight{
  background-color: rgba(255, 255, 0, 0.76);
}

.underline{
  text-decoration: underline;
}

.active-underline{
  background-color: #6a7080;
}

.mat-mdc-snack-bar-label.mdc-snackbar__label {
  background-color: #f44336; /* Красный цвет для ошибок */
  color: #fff;
}
.mat-flat-button{
  padding: 1rem;
}


//////    TABLE
//.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted:hover{
//  background-color: #eaedff;
//}

.ck.ck-balloon-panel.ck-balloon-panel_toolbar_west.ck-toolbar-container{
  z-index: 9999;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused{
  border: none;
  box-shadow: none;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred{
  border: none;
}

app-ck-editor{
  z-index: 9999;
}
*{
  font-family: 'Roboto', sans-serif; /* Здесь укажите нужный шрифт */
}





