// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'styles/m3-theme-light';
@use 'styles/m3-theme-dark';

@include mat.core();

$dragon-tms-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


:root {
  //@include mat.all-component-themes(m3-theme-light.$light-theme);
  //@include mat.system-level-colors(m3-theme-light.$light-theme);
  //--scrollbar-width: 12px;
  //--scrollbar-track-color: #f1f1f1;
  //--scrollbar-thumb-color: #888;
  //--scrollbar-thumb-hover-color: #555;
}


html, body {
  height: 100%;
  overflow: auto;
  //@include mat.core-theme(m3-theme-light.$light-theme);
  //@include mat.button-theme(m3-theme-light.$light-theme);
  //@include mat.system-level-colors(m3-theme-light.$light-theme);
  //@include mat.bottom-sheet-base(m3-theme-light.$light-theme);
  //@include mat.table-theme(m3-theme-light.$light-theme);
  //@include mat.all-component-themes(m3-theme-light.$light-theme);

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.light-theme {
  @include mat.all-component-bases(m3-theme-light.$light-theme);
  @include mat.system-level-colors(m3-theme-light.$light-theme);
  @include mat.all-component-themes(m3-theme-light.$light-theme);
  @include mat.all-component-typographies(m3-theme-light.$light-theme);
  background-color: #fbf8ff ;
}

.dark-theme {
  @include mat.system-level-colors(m3-theme-dark.$dark-theme);
  @include mat.all-component-bases(m3-theme-dark.$dark-theme);
  @include mat.all-component-themes(m3-theme-dark.$dark-theme);
  @include mat.all-component-typographies(m3-theme-dark.$dark-theme);
  @include mat.system-level-typography(m3-theme-dark.$dark-theme);
  background-color: #000000;
  color: #3a4c9c;
}


//      Скролбар   =========================================================

/* Для Webkit-браузеров */
::-webkit-scrollbar {
  width: 8px; /* ширина вертикального скроллбара */
  height: 8px; /* высота горизонтального скроллбара */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* цвет дорожки скроллбара */
}

::-webkit-scrollbar-thumb {
  background: #888; /* цвет ползунка */
  border-radius: 6px; /* скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* цвет ползунка при наведении */
}

/* Для Firefox */
//* {
//  scrollbar-width: thin; /* ширина скроллбара */
//  scrollbar-color: #888 #f1f1f1; /* цвет ползунка и цвет дорожки */
//}




//editor;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

.highlight{
  background-color: #0d3480;
}

.underline{
  text-decoration: underline;
}

.active-underline{
  background-color: #6a7080;
}
