// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'styles/m3-theme-light';
@use 'styles/m3-theme-dark';

@include mat.core();

$dragon-tms-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


:root {
  //@include mat.all-component-themes(m3-theme-light.$light-theme);
  //@include mat.system-level-colors(m3-theme-light.$light-theme);
}



html, body {
  height: 100%;
  overflow: auto;
  //@include mat.core-theme(m3-theme-light.$light-theme);
  //@include mat.button-theme(m3-theme-light.$light-theme);
  //@include mat.system-level-colors(m3-theme-light.$light-theme);
  //@include mat.bottom-sheet-base(m3-theme-light.$light-theme);
  //@include mat.table-theme(m3-theme-light.$light-theme);
  //@include mat.all-component-themes(m3-theme-light.$light-theme);

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.light-theme {
  @include mat.all-component-bases(m3-theme-light.$light-theme);
  @include mat.system-level-colors(m3-theme-light.$light-theme);
  @include mat.all-component-themes(m3-theme-light.$light-theme);
  @include mat.all-component-typographies(m3-theme-light.$light-theme);
  background-color: #fbf8ff ;
}

.dark-theme {
  @include mat.system-level-colors(m3-theme-dark.$dark-theme);
  @include mat.all-component-bases(m3-theme-dark.$dark-theme);
  @include mat.all-component-themes(m3-theme-dark.$dark-theme);
  @include mat.all-component-typographies(m3-theme-dark.$dark-theme);
  background-color: #000000;
}
