<mat-progress-bar *ngIf="!dataLoading" mode="indeterminate"></mat-progress-bar>

<div *ngIf="dataLoading">
  <button (click)="showData()">ggggg</button>
  <div cdkDropListGroup>
    <div *ngFor="let folder of TEST_CASE_DATA">
      <ng-container *ngTemplateOutlet="folderTemplate; context: { folder: folder }"></ng-container>
    </div>

    <ng-template #folderTemplate let-folder="folder">
      <div [ngClass]="{'nested-folder': folder.parentFolderId}">
        <div cdkDropList
             [cdkDropListData]="folder.folders"
             (cdkDropListDropped)="onDrop($event, 'folder', folder.id, folder.name)"
             (click)="getTestCases(folder.id)"
             class="folder-header">
          <button mat-icon-button (click)="toggleFolder(folder, $event)">
            <mat-icon>{{ folder.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
          <mat-icon>folder_open</mat-icon>
          <span class="folder-name" cdkDrag [cdkDragData]="folder">{{ folder.name }}</span>
          <span class="folder-btn-menu">&nbsp;
          <button mat-icon-button [matMenuTriggerFor]="folderMenu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #folderMenu="matMenu" >
  <button mat-menu-item (click)="openDialogToCreateTestCase(folder.id, folder.name)" *ngIf="!folder.trashFolder">
    <mat-icon>playlist_add</mat-icon>
    <span>Добавить тест кейс</span>
  </button>
  <button mat-menu-item (click)="openDialogToAddFolder(folder.id)" *ngIf="!folder.trashFolder">
    <mat-icon>add</mat-icon>
    <span>Добавить папку</span>
  </button>
  <button mat-menu-item
          (click)="openDialogToDeleteFolder(folder.id, folder.name)"
          [disabled]="folder.id === 0">
    <mat-icon>delete_outline</mat-icon>
    <span *ngIf="!folder.trashFolder">Удалить папку</span>
    <span *ngIf="folder.trashFolder">Очистить корзину</span>
  </button>
<!--  <button mat-menu-item *ngIf="!folder.trashFolder">-->
<!--    <mat-icon>change_history</mat-icon>-->
<!--    <span (click)="openDialogToAddFolderInTestPlan(folder.id, folder.name)">Добавить в тест план</span>-->
<!--  </button>-->
</mat-menu>
        </span>
        </div>
        <div *ngIf="folder.expanded">
          <div *ngFor="let subFolder of folder.childFolders"
               cdkDrag [cdkDragData]="subFolder"

               cdkDragDisabled="true"
               class="subfolder">
            <ng-container *ngTemplateOutlet="folderTemplate; context: { folder: subFolder }"></ng-container>
          </div>
        </div>
        <div *ngIf="folder.expanded" cdkDropList
             [cdkDropListData]="testCasesMap[folder.id]"
             (cdkDropListDropped)="onDrop($event, 'testCase', folder.id, folder.name)"
             class="test-case-list">

          <div *ngFor="let testCase of testCasesMap[folder.id]" cdkDrag [cdkDragData]="testCase">
            <div class="test-case-item" [ngClass]="{'test-case-hover': hoveredTestCase === testCase}"
                 (mouseenter)="hoveredTestCase = testCase"
                 (mouseleave)="hoveredTestCase = null">
              <mat-icon>subject</mat-icon>
              {{ testCase.name }}
              <span class="testcase-btn-menu">&nbsp;
                <button mat-icon-button [matMenuTriggerFor]="testCaseMenu" aria-label="Test case options">
                  <mat-icon>more_vert</mat-icon>
                </button>

              <mat-menu #testCaseMenu="matMenu">
                <button mat-menu-item (click)="editTestCase(testCase)">
                  <mat-icon>edit</mat-icon>
                  <span>Редактировать</span>
                </button>
                <button mat-menu-item (click)="openDeleteTestCaseDialog(testCase.id, testCase.name,folder.name)">
                  <mat-icon>delete</mat-icon>
                  <span>Удалить</span>
                </button>
              </mat-menu>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
