<div fxFlex="column">
  <div mat-dialog-content class="dialog-content" fxLayoutAlign="center center">
    <ng-container [ngSwitch]="data.type">
      <div *ngSwitchCase="'project'">
        <p fxLayoutAlign="start center">Введите имя проекта</p>
        <form [formGroup]="projectForm">
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControlName="projectName">
            <mat-error *ngIf="projectForm.get('projectName')?.invalid"
                       fxLayoutAlign="start center">{{ getProjectErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngSwitchCase="'test-plan'">
        <p fxLayoutAlign="start center">Введите имя тест-плана</p>
        <form [formGroup]="testPlanForm">
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControlName="testPlanName">
            <mat-error *ngIf="testPlanForm.get('testPlanName')?.invalid"
                       fxLayoutAlign="start center">{{ getTestPlanErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngSwitchCase="'folder'">
        <p fxLayoutAlign="start center">Введите имя папки</p>
        <form [formGroup]="folderForm">
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControlName="folderName">
            <mat-error *ngIf="folderForm.get('folderName')?.invalid"
                       fxLayoutAlign="start center">{{ getFolderErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngSwitchCase="'folder-del'">
        <p>Вы действительно хотите удалить папку {{data?.folderName}} ?</p>
      </div>
      <div *ngSwitchCase="'new type'">

        <p>Это контент для типа new type.</p>
      </div>
      <div *ngSwitchDefault>
        <p>Это контент по умолчанию.</p>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="data.type != 'folder-del' " mat-flat-button (click)="save()" fxLayoutAlign="start center" class="save-btn">Сохранить</button>
    <button *ngIf="data.type === 'folder-del' " mat-flat-button (click)="deleteFolder()" fxLayoutAlign="start center" class="save-btn">Удалить</button>
    <button mat-button (click)="closeMatDialog()" fxLayoutAlign="space-between center" class="close-btn">Отмена</button>
  </div>
</div>
