.dialog-content{
  height: 220px;
}

.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 5px;
}


:host {
  --mdc-dialog-container-shape: 0px;
}

mat-form-field{
  margin: 0;
  width: 100%;
  padding: 0;
}
