<div fxFlex="column">
  <div mat-dialog-content class="dialog-content" fxLayoutAlign="center center">
    <ng-container [ngSwitch]="data.type">
      <div *ngSwitchCase="'project'">
        <p fxLayoutAlign="start center">Введите имя проекта</p>
        <form [formGroup]="projectForm">
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControlName="projectName">
            <mat-error *ngIf="projectForm.get('projectName')?.invalid"
                       fxLayoutAlign="start center">{{ getProjectErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngSwitchCase="'test-plan'">
        <p fxLayoutAlign="start center">Введите имя тест-плана</p>
        <form [formGroup]="testPlanForm">
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControlName="testPlanName">
            <mat-error *ngIf="testPlanForm.get('testPlanName')?.invalid"
                       fxLayoutAlign="start center">{{ getTestPlanErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngSwitchCase="'folder'">
        <p fxLayoutAlign="start center">Введите имя папки</p>
        <form [formGroup]="folderForm">
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput formControlName="folderName">
            <mat-error *ngIf="folderForm.get('folderName')?.invalid"
                       fxLayoutAlign="start center">{{ getFolderErrorMessage() }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div *ngSwitchCase="'folder-del'">
        <p style="font-weight: bolder; font-size: larger">Вы действительно хотите удалить папку "{{data?.folderName}}" ?</p>
        <div style="position: relative; display: inline-block;">
          <mat-icon style="position: absolute; top: 0; left: 0; font-size: 24px;">info</mat-icon>
          <span style="padding-left: 30px;">При удалении папки все тест-кейсы папки и дочерних папок переместятся в корзину.</span>
        </div>
      </div>
      <div *ngSwitchCase="'testCase-del'">
        <p style="font-weight: bolder; font-size: larger">Вы действительно хотите удалить тест-кейс "{{data?.testCaseName}}" ?</p>
        <div style="position: relative; display: inline-block;">
          <mat-icon style="position: absolute; top: 0; left: 0; font-size: 24px;">info</mat-icon>
          <span *ngIf="data?.folderName !='Корзина' " style="padding-left: 30px;">Тест-кейс будет перемещен в корзину.</span>
          <span *ngIf="data?.folderName ==='Корзина' " style="padding-left: 30px;">При удалении тест-кейса из "Корзины", его нельзя будет востановить!</span>
        </div>

      </div>
      <div *ngSwitchDefault>
        <p></p>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="data.type != 'folder-del' && data.type != 'testCase-del' " mat-flat-button (click)="save()" fxLayoutAlign="start center" class="save-btn">Сохранить</button>
    <button *ngIf="data.type === 'folder-del' " mat-flat-button (click)="deleteFolder()" fxLayoutAlign="start center" class="save-btn">Удалить</button>
    <button *ngIf="data.type === 'testCase-del' " mat-flat-button (click)="deleteTestCase()" fxLayoutAlign="start center" class="save-btn">Удалить</button>
    <button mat-button (click)="closeMatDialog()" fxLayoutAlign="space-between center" class="close-btn">Отмена</button>
  </div>
</div>
