.mat-mdc-unelevated-button{
  margin: 1rem;
  border-radius: 5px;
}

.mat-mdc-table .mat-mdc-header-cell.dark-theme{
  background-color: #000e00;
}

.table-container{
  width: 90vw;
  height: 60vh;
  margin-bottom: 1rem;
  overflow: auto;
}

h3.dark-theme{
  color: #3d55c0;
}
