<p>Test plans:</p>
<div class="table-container" >
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        id
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <div *ngIf="isLoading" class="progress-bar-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToTestPlan(row.id)"></tr>
  </table>
  <div *ngIf="isLoading" class="progress-bar-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
<button  mat-flat-button (click)="openCreateTestPlanDialog()">Добавить тест план</button>




