.project-list{
}

app-header{
  position: absolute;
  top: 0;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  font-family: 'Roboto', sans-serif; /* Здесь укажите нужный шрифт */
}

.container{
  position: relative;
  top: 56px;
  overflow: hidden;
  height: 100vh;

}

.main-container{
  overflow: hidden;
}

.as-horizontal.as-percent{
  overflow: hidden;
}
app-main-container{
  overflow: hidden;
}

router-outlet{
  font-family: 'Roboto', sans-serif; /* Здесь укажите нужный шрифт */
}
